extends layout




block content
    body
        <p id="teamid"></p>
        <p>#{tm}</p>
        //- <script>var team = location.search.split("?")[1]</script>
        //- <script>var test = team.toString().replace(/\+/g," ").replace('=','')</script>
        //- <script>console.log(test)</script>
        //- <script>teamName = team[0] + " " + team[1].split("=")[0]</script>
        //- <script>document.getElementById("teamid").innerHTML = test</script>
        //-<p>Here is a paragrpah#{picture}</p>
        <div class="tname">
        <p class="ptextteam">#{teamName}</p>
        <p class="ptext" style="font-size: 50px;">Standing: #{standing}</p>
        </div>
        <div id='allPlayers' class="allPlayers">
        <div id='playerCard' class="playerCard">
        <div class="nameflag">
        <p class="playerName">#{name1}
        <img height=14px width=22px src='images/flags/#{flag1}'>
        </p>
        </div>
        <img height=300px width=300px src='images/players/#{pic1}'>
        </div>
        <div id='playerCard' class="playerCard">
        <p class="playerName">#{name2}
        <img height=14px width=22px src='images/flags/#{flag2}'>
        </p>
        <img height=300px width=300px src='images/players/#{pic2}'>
        </div>
        <div id='playerCard' class="playerCard">
        <p class="playerName">#{name3}
        <img height=14px width=22px src='images/flags/#{flag3}'>
        </p>
        <img height=300px width=300px src='images/players/#{pic3}'>
        </div>
        </div>
        <div style="text-align: center;">
        <table class="statstable">
        <tr>
        <th>Name</th>
        <th>Goals</th>
        <th>Assists</th>
        <th>Saves</th>
        <th>Shots</th>
        </tr>
        <tr>
        <td>#{name1}</td>
        <td>#{stats1[0]}</td>
        <td>#{stats1[1]}</td>
        <td>#{stats1[2]}</td>
        <td>#{stats1[3]}</td>
        </tr>
        <tr>
        <td>#{name2}</td>
        <td>#{stats2[0]}</td>
        <td>#{stats2[1]}</td>
        <td>#{stats2[2]}</td>
        <td>#{stats2[3]}</td>
        </tr>
        <tr>
        <td>#{name3}</td>
        <td>#{stats3[0]}</td>
        <td>#{stats3[1]}</td>
        <td>#{stats3[2]}</td>
        <td>#{stats3[3]}</td>
        </tr>
        <tr>
        <td>Average</td>
        <td>#{avg1}</td>
        <td>#{avg2}</td>
        <td>#{avg3}</td>
        <td>#{avg4}</td>
        </tr>
        </table>
        </div><br><br>

        <div id="box" class="editName">
        <label for="editname">Choose a name to edit:</label>

        <select name="editname" id="editname">
        <option id="oldname1">#{name1}</option>
        <option id="oldname2">#{name2}</option>
        <option id="oldname3">#{name3}</option>
        </select>

        <script> function f() { var t = document.getElementById("editname").value + " -> " + document.getElementById("textbox").value; document.getElementById("justtext").innerHTML = t; };
        </script>

        
        <h1 id="justtext"></h1>
        //-<script type="text/javascript" src="/scripts/update.js"></script>
        <input type="text" id="textbox" placeholder="Enter new name"/>
        <button onclick="f()" type="button" id="newname">Submit</button>
        </div>
        
        //- <script>console.log('images/players/#{picture}')</script>
        <a class="homeButton" href="/" role="button" type="submit">Home</a>
    
