extends layout

block content
    body
        <p id="teamid"></p>
        <p>#{tm}</p>
        <script>var team = location.search.split("?")[1]</script>
        <script>var test = team.toString().replace(/\+/g," ").replace('=','')</script>
        <script>console.log(test)</script>
        <script>teamName = team[0] + " " + team[1].split("=")[0]</script>
        <script>document.getElementById("teamid").innerHTML = test</script>
        <p>Here is a paragrpah#{picture}</p>
        <div id='playerCard'>
        <p>#{name1}</p>
        <img height=300px width=300px src='images/players/#{pic1}'>
        </div>
        <div id='playerCard'>
        <p>#{name2}</p>
        <img height=300px width=300px src='images/players/#{pic2}'>
        </div>
        <div id='playerCard'>
        <p>#{name3}</p>
        <img height=300px width=300px src='images/players/#{pic3}'>
        </div>
        <script>console.log('images/players/#{picture}')</script>
        <a class="homeButton" href="/" role="button" type="submit">Home</a>
    
